<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" verbose="true" colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true" beStrictAboutOutputDuringTests="true">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
    </php>

    <testsuites>
        <testsuite name="acceptance">
            <directory>./tests/App</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>./tests/VendorMachine/Machine/Application</directory>
        </testsuite>
    </testsuites>
</phpunit>
